.reviews {
    padding-top: 80px;
    padding-bottom: 80px;
}

.reviews__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px; 
    gap: 40px;
}

.reviews__img-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.2);  
    width: calc((100% - 100px)/6);   
    min-width:200px;  
}
.reviews__img { 
    width: 100%; 
    object-fit: cover;
    object-position: center;

}
.reviews__line { 
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.reviews__title {    
    font-weight: 900;
    font-size: 30px;
}

.reviews__list {
    display: flex;
    justify-content: space-between;  
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}


@media (max-width:1240px) {}

@media (max-width:1140px) {}

@media (max-width:1080px) {

}

@media (max-width:920px) {}

@media (max-width:768px) {
    .reviews__title {
        font-size: 25px;
    }
     .reviews {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .reviews__list {
        flex-wrap: wrap;
    }
}

@media (max-width:568px) {
    .reviews__title {
        font-size: 20px;
    }
  
}

@media (max-width:344px) {}